<header>
<h1 class="h2">Usuários</h1>
</header>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Joined</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do | user | %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.created_at.to_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</section>